<div class="container">
  <div class="row">
    <div class="col">
      <h1>Welcome to Super Movies Collection</h1>
      <div class="cards">
        <% @lists.each do |list| %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
            <%= link_to (list.name).upcase, list_path(list)  %>
          </div>
        <% end %>
      </div>
    </div>
        <%= link_to "Add a new list", new_list_path %>
  </div>
</div>
